*.o
*.so
*~
*.swp
*TAGS
cscope.out
autom4te.cache
config.h.in
Makefile
Makefile.in
*.lo
*.la
*.go
.deps
.libs
ar-lib
config.guess
config.sub
compile
test-driver
depcomp
install-sh
ltmain.sh
missing
aclocal.m4
config.log
config.status
configure
libtool
m4
include/junkie/config.h
include/junkie/stamp-h1
src/junkie
src/nark
core.*
core
vgcore.*
junkie-*.tar.gz
tests/*.log
tests/tmp.*
tests/cnxtrack_check
tests/digest_queue_check
tests/dns_check
tests/files_check
tests/flood_check
tests/hash_check
tests/http_check
tests/icmp_check
tests/ip_addr_check
tests/ip_check
tests/jhash_check
tests/liner_check
tests/log_check
tests/mallocer_check
tests/mgcp_check
tests/port_range_check
tests/redim_array_check
tests/rtcp_check
tests/sdp_check
tests/sip_check
tests/tcp_check
tests/timeval_check
tests/udp_check
tests/arp_check
tests/tags
tests/pkt_wait_list_check
tests/ip_reassembly_check
tests/tcp_reorder_check
tests/streambuf_check
tests/postgres_check
tests/oracle_check
tests/endianness_check
tests/cli_check
tests/skinny_check
tests/cursor_check
tests/mutex_check
tests/objalloc_check
tests/serialize_check.*ser
tests/sock-check/
tests/tds_check
tests/mysql_check
tests/tls_check
tests/tns_check
doxydoc
config/instvars.scm
config/.index
.tarball-version
instvars.scm
module-deps.dot
.gdb_history
*.log
*.out2
*.trs
.dirstamp
